body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: whitesmoke;
    background-image: url('../Media/spaceship-orbits-dark-galaxy-glowing-blue-comet-generated-by-ai.jpg'); /* Replace with the path to your image */
    background-size: contain; /* Ensure the background covers the entire viewport */
    background-position: center; /* Center the background image */
    height: auto; /* Set height to auto so that it expands to contain content */
    margin: 0; /* Remove default margin */
    height: 100vh;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 10px;
    } 
}