footer {
    background-color: #4D869C;
    color: #fff;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex: 1;
    padding: 0 20px;
}

.footer-left h2,
.footer-middle h2,
.footer-right h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.footer-left p,
.footer-right .social-icons {
    margin-top: 20px;
}

.footer-left p,
.footer-right .social-icons a {
    color: #fff;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #aaa;
}

.social-icons img {
    height: 80px;
    width: auto;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .footer-container {
        flex-direction: column; /* Change to column layout for small screens */
        align-items: center; /* Center align items */
    }

    .footer-left,
    .footer-right {
        flex: 1; /* Each section takes full width */
        padding: 0; /* Remove horizontal padding */
        text-align: center; /* Center align text */
        margin-bottom: 20px; /* Add margin between sections */
    }

    .footer-left h2,
    .footer-middle h2,
    .footer-right h2 {
        border-bottom: none; /* Remove border */
        padding-bottom: 0; /* Remove padding */
    }

    .footer-left p,
    .footer-right .social-icons {
        margin-top: 10px; /* Reduce top margin */
    }

    .social-icons a {
        margin: 0 5px; /* Reduce margin between icons */
        font-size: 20px; /* Adjust font size */
    }

    .social-icons img {
        height: 60px; /* Adjust image height */
    }

    .footer-bottom {
        font-size: 12px; /* Adjust font size */
    }
}
