#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    padding: 20px;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 200px; 
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.project-item a, .project-item p {
    display: inline-block;
    margin: 0;
}

.project-item a img {
    width: 200px; 
    height: auto;
}

button {
    background-color: #7AB2B2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
