#Services {
    text-align: center;
    padding: 20px;
}

.service {
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 400px; 
}

.service img {
    background-color: #f0f0f0; 
    border-radius: 50%; 
    width: 100px; 
    height: auto;
}

.service h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.service p {
    margin: 0;
    font-size: 20px;
}


.center-button {
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
    #Services {
        padding: 10px; /* Adjust padding */
    }

    .service {
        width: 175px; /* Adjust width */
        margin: 10px auto; /* Center align and adjust margin */
    }

    .service img {
        width: 80px; /* Adjust image width */
        height: auto; /* Maintain aspect ratio */
    }

    .service h3 {
        margin-top: 8px; /* Adjust top margin */
        margin-bottom: 3px; /* Adjust bottom margin */
        font-size: 16px; /* Adjust font size */
    }

    .service p {
        font-size: 16px; /* Adjust font size */
    }

    .center-button {
        margin-top: 0; /* Reset top margin */
        margin-bottom: 8px; /* Adjust bottom margin */
        font-size: 14px; /* Adjust font size */
    }
}
